<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Prize</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Панель управления</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin_panel}">Админ-панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_prize}">Добавить приз</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/winners}">Список победителей</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1 class="text-center">Добавить новый приз</h1>

    <form action="/add_prize" method="post" th:object="${prizeForAdmin}" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label for="nameOfPrize">Название приза</label>
            <input id="nameOfPrize" name="nameOfPrize" th:field="*{nameOfPrize}" type="text" class="form-control" placeholder="Введите название приза">
            <div th:if="${#fields.hasErrors('nameOfPrize')}" th:errors="*{nameOfPrize}"></div>
        </div>

        <div class="form-group">
            <label for="codes">Коды</label>
            <textarea id="codes" name="codes" th:field="*{codes}" class="form-control" placeholder="Введите коды, разделенные запятыми или пробелами"></textarea>
            <small class="form-text text-muted">Пример: code1, code2, code3 или code1 code2 code3</small>
            <div th:if="${#fields.hasErrors('codes')}" th:errors="*{codes}"></div>
        </div>

        <div class="form-group">
            <label for="file">Изображение приза</label>
            <input id="file" name="file" type="file" th:field="*{file}" class="form-control-file">
            <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>


        <div th:if="${successMessage}" class="alert alert-success text-center mt-3" role="alert">
            <p th:text="${successMessage}"></p>
        </div>
    </form>
</div>

</body>
</html>
