<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Панель управления</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin_panel}">Админ-панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_prize}">Добавить приз</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/winners}">Список победителей</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выйти</a> <!-- Добавленная ссылка на выход -->
            </li>

        </ul>
    </div>
</nav>

</body>
</html>
