<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список призов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Панель управления</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin_panel}">Админ-панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_prize}">Добавить приз</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid table-container">
    <h1>Список призов</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название приза</th>
            <th>Код</th>
            <th>Изображение</th>
            <th>Полное имя победителя</th>
            <th>Телефон победителя</th>
            <th>Email победителя</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prize : ${prizes}">
            <td th:text="${prize.id}"></td>
            <td th:text="${prize.nameOfPrize}"></td>
            <td th:text="${prize.code}"></td>
            <td>
                <img th:src="${prize.path}" alt="Изображение приза" class="img-thumbnail"/>
            </td>
            <td th:text="${prize.fullNameOfWinner}"></td>
            <td th:text="${prize.telephoneNumberOfWinner}"></td>
            <td th:text="${prize.emailOfWinner}"></td>
            <td th:text="${prize.status ? 'Выдан' : 'Не выдан'}"></td>
            <td>
                <form action="/edit_status" method="post">
                    <input name="id" th:value="${prize.id}" type="hidden">
                    <button type="submit">Сменить статус</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
