/* styles/buttons.css */

/* Основной стиль кнопок */
.btn-primary {
    background: linear-gradient(45deg, #007bff, #0056b3);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #0056b3, #003d7a);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s, box-shadow 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
